.bd-navbar {
  min-height: 4rem;
  background-color: #516c96;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.menu-icon-brand {
  font-size: 25px;
  color: white;
}

.menu-icon-brand-copyright {
  font-size: 11px;
  color: white;
}

.menu-icons {
  font-size: 20px;
  color: white;
  padding-right: 10px;
}


.capitalize {
    text-transform: capitalize;   
}

.chart-container_lg {
    width: 1500px;
    height:300px
}

.chart-container {
    width: 480px;
    height:280px;
}  


.chart-container_lg {
    width: 80%;
    height: 80px;
}


.chart-container_sm {
  width: 55%;
  height: 120px;
}